.venv*
venv*
.env
__pycache__/
*.py[cod]
.ruff_cache

src/dataset/raw
src/infrastructure/r_model/core/deepseek-math-7b-rl/*
src/infrastructure/r_model/core/deepseek-math-farma/*
logs/

*.rar
*.zip
*.tar.gz
